* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: black;
    font-size: 3vmin;
    font-family: monospace;
}

ul {
    list-style: none;
}

#game {
    width: 100%;
    height: 100vh;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    > ul {
        display: flex;
        flex-wrap: wrap;
        width: (100vmin / 1.2);
        border: 0.2em solid blue;

        > li {
            display: flex;
            border: 0.2em solid orange;
            // width: (100% / 2); Da inserire nel JS

            &::after {
                display: block;
                content: "";
                padding-top: 100%;
            }

            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                border: 0.2em solid blue;

                &.good {
                    background-color:  green;
                }

                &.bomb {
                    background-color: red;
                }
            }
        }
    }
}