* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: black;
    font-size: 3vmin;
    font-family: monospace;
}

ul {
    list-style: none;
}

#game {
    width: 100%;
    height: 100vh;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    > table {
        // display: table;
        // flex-wrap: wrap;
        // table-layout: fixed;
        width: (100vmin / 1.2);
        height: (100vmin / 1.2);
        border: 0.2em solid blue;
        text-align: center;

        tr {
            // width: 100%;
            // height: 100%;

            > td {
                border: 0.2em solid blue;

                &.good {
                    background-color:  green;
                }

                &.boom {
                    background-color: red;
                }
            }
        }
    }
}